<div id="<%= dom_id articulo %>">
  <p>
    <strong>Titulo:</strong>
    <%= articulo.titulo %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= articulo.contenido %>
  </p>
  
  <p>
    <strong>Autor:</strong>
    <%= articulo.autor %>
  </p>

  <p>
    <strong>Publicado el:</strong>
    <%= articulo.created_at.strftime("%d/%m/%Y %H:%M") %>
  </p>

</div>
